/* You can add global styles to this file, and also import other style files. Applies to all templates */

body {
    padding: 3em;
}
ul {
    list-style-type:none;
    margin:0 02em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    text-decoration: none;
}